body{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-color: #fcde67;
   
}
.quiz-area {
    border: 2px solid;
    border-radius: 10px;
    width: 600px;
    height: 450px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    text-align: center;
    box-shadow: 7px 7px 8px 8px gray;
    background-color: whitesmoke;
}
 
.header{
    margin-top: 0;
      
  }

  #question {
    margin-top: 0;
    margin-bottom: 15px;
  }

  .result {
    padding-top: 20px;
     
  }
  
  #guess{
    width: 250px;
    height: 20px;
    font-size: medium;
     
  }
  
  #submit{
    width: 300px;
    height: 30px;
    background-color: #5bccf6;
    border-radius: 5px;
  }
  
   
  #next{
    margin-top: 10px;
  }